@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400;700&family=Playfair:wght@400;700&family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
    
:root {
    --primary-text-color: #01070b;
    --secondary-text-color: #000509;
    --accent-color: #010209;
    --accent-color-dark: #f8fbfd;
    --padding-inline-section: 20px;
    --background-set-color: #5d5f614c;

} 


body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    width: 1470px;
    /* background: linear-gradient(to top,#0c8f6e,rgb(1, 14, 9),rgb(10, 10, 10)); */
    /* background-repeat: no-repeat; */
    /* width: 100%; */
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2.3rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

h4{
    font-size: 1.1rem;
    font-weight: 500;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

.container {
    max-width: 2000px; 
    margin-inline: auto;
    overflow: hidden;
    /* padding-inline: var(--padding-inline-section); */
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: #085945;
}

.primary-button{
    background-color: #0c8f6e;
    border-radius: 3px;
    font-weight: 500;
    color: white !important;
    padding: 6px 16px;
    box-shadow: 0 0 2px #0c8f6e;
    transition: 0.5s ease-out;

}

.primary-button:hover{
    background-color: #085945;
}

.secondary-button{
    background-color: rgba(21, 20, 20, 0.177);
    border-radius: 3px;
    font-weight: 500;
    color: #0c8f6e;
    padding: 6px 12px;
    /* box-shadow: 0 0 2px ; */
    transition: 0.5s ease-out;
    border: 0.5px solid rgb(147, 140, 140);
}

.secondary-button:hover{
    color: #085945;
}

header{
    background: linear-gradient(to top,#0c8f6e,rgb(1, 14, 9),rgb(10, 10, 10));
}

.head{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-box{
    color: white;
    background: linear-gradient(to top, #000403,black);
    border-radius: 20px;
    width: 82rem;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.nav-bars{
    gap: 70px;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.nav-left{
    margin-left: 7rem;
}

.nav-left h3{
    color: rgba(164, 44, 44, 0.942);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-right .home{
    color: #085945 !important;
}

.nav-right ul{
    display: flex;
    gap: 80px;
    margin-left: 35rem;
}

.nav-right ul a{
    color: white;
}

.name{
    margin-left: 7rem;
    width: 600px;
}

.name h2{
    font-style: oblique;
}

.name h2 span{
    color: #0c8f6e;
}

.name p{
    margin-top: 2rem;
}

.name a{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.social a{
    color: #0c8f6e;
    margin-right: 20px;
    margin-bottom: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #0c8f6e;
    border-radius: 25px;
}

.social .hover-link{
    border: none;
    font-size: 1.5rem;
}

.image img{
    /* background: linear-gradient(to right,black,rgb(28, 28, 28)); */
    width: 220px;
    margin-left: 17rem;
    margin-bottom: 3rem;
    border-right: 7px solid #0c8f6e;
    border-bottom: 7px solid #0c8f6e;
}

.services{
    background: linear-gradient(to top,rgb(10, 10, 10),rgb(1, 14, 9),#0c8f6e);
}

.parts{
    text-align: center;
    gap: 20px;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.parts a{
    font-size: 2rem;
    color: #0c8f6e;
}

.parts h2{
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.services h1{
    text-align: center;
    padding-top: 2rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.part{
    width: 460px;
    background-color: #000403;
    border-radius: 15px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px; 
    padding-bottom: 40px;
}

.button a{
    font-size: 1rem;
    margin-top: 2rem;
}

.hire{
    padding-top: 7rem;
    padding-bottom: 10rem;
    background: linear-gradient(to top,#0c8f6e,rgb(1, 14, 9),rgb(10, 10, 10));
    text-align: center;
}

.hire h2{
    color: white;
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hire a{
    margin-bottom: 1.3rem;
}

.box{
    background-color: black;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 15px;

}

.project{
    background: linear-gradient(to top,#0c8f6e,rgb(1, 14, 9),rgb(10, 10, 10));
}

.projects{
    color: white;
    text-align: center;
}

.projects h1{
    padding-bottom: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projects h3{
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boxes{
    margin-bottom: 1rem;
    gap: 50px;
    padding-left: 5rem;
}

.box1{
    background-color: black;
    border-radius: 5px;
}

.box1 img{
    padding: 1rem;
    padding-bottom: 0rem;
    width: 400px;
}

.boxes1{
    padding-bottom: 1rem;
    gap: 50px;
    padding-left: 5rem;
}

.box2{
    background-color: black;
    border-radius: 5px;
    margin-bottom: 8rem;
}

.box2 img{
    padding: 1rem;
    padding-bottom: 0rem;
    width: 400px;
}

.contact{
    background: linear-gradient(to top,rgb(10, 10, 10),rgb(1, 14, 9),#0c8f6e);
}

.contacts{
    text-align: center;
    padding-bottom: 3rem;
}

.contacts h1{
    padding-bottom: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    background: linear-gradient(to top, #07775728,#043f2d52);
    border-radius: 15px;
    margin-left: 25rem;
    margin-right: 25rem;
}

.first input{
    background-color: #033124ea;
    border: 1px solid rgba(86, 86, 86, 0.467);
    border-radius: 20px;
    margin-top: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
}

.second input{
    background-color: #033124ea;
    border: 1px solid rgba(86, 86, 86, 0.467);
    border-radius: 20px;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 288px;
    font-size: 1rem;
}
.third input{
    background-color: #033124ea;
    border: 1px solid rgba(86, 86, 86, 0.467);
    border-radius: 20px;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 288px;
    font-size: 1rem;

}

button{
    color: white;
    background-color: #0d9071;
    border: 1px solid #0d9071;
    border-radius: 40px;
    margin-bottom: 3rem;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1rem;
}
